.tab {
  display: none;
}

p {
    text-align: left !important;
}

form {
    margin: 10px
}

button:active {
    margin: 10px 0 10px 10px;
    outline: 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

button:hover, button:focus {
    color: #ffffff;
    text-decoration: none;
    background: #555555;
    outline: 0;
}

button {
    color: #000000;
    background: #bbbbbb;
    padding: 10px 10px;
    font-size: 18px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    border: 0;
    border-width: 0;
    -webkit-box-shadow: 10px 10px 0 #000000;
    -moz-box-shadow: 10px 10px 0 #000000;
    box-shadow: 10px 10px 0 #000000;
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
}

h1, h2, h3 {
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: inherit;
    font-weight: inherit;
    line-height: 20px;
    color: #ffffff;
    text-rendering: optimizelegibility;
}

a {
    color: #fefe54;
    text-decoration: none;
}

a:hover, a:focus {
    color: #fefe54;
    background: #aa5500;
}

a:hover, a:active {
    outline: 0;
}

@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fixedsys500c.eot');
  src: local('☺'), url('fonts/Fixedsys500c.woff') format('woff'), url('fonts/Fixedsys500c.ttf') format('truetype'), url('fonts/Fixedsys500c.svg') format('svg');
}

div {
  padding: 10px;
  border: 5px solid gray;
  margin: 100px;
  box-shadow: 10px 10px 0 #000000;
  text-align: left;
}

body {
    margin: 0;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 18px;
    line-height: 20px;
    color: #bbbbbb;
    background-color: #000084;
}

html * {
    text-align: center;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace !important;
}